/* Global customization */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

:root {
    --code-max-height: 60rem;
  }
  
  /* Light mode theming */
  :root,
  :root[color-mode="light"] {
    --header-background: #fc8c04;
    --header-font-color: #ffffff;
  
    --body-background: #ffffff;
    --body-font-color: #343a40;
    --body-font-family: "Roboto";
  
    --button-background: #fc8c04;
    --button-border-color: #FF8c04;
  
    --link-color: #518169;
    --link-color-visited: #c54e8a;
  
    --code-background: #f5f6f8;
    --code-accent-color: #e3e7eb;
    --code-accent-color-lite: #eff1f3;
  
    --accent-color: #e9ecef;
    --accent-color-lite: #f8f9fa;
  
    --control-icons: #b2bac1;
  
    --footer-background: #2f333e;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --header-background: #fc8c04 !important;
      --header-font-color: #ffffff;
  
      --body-background: #ffffff;
      --body-font-color: #343a40;
      --body-font-family: "Roboto";

      --button-background: #fc8c04;
      --button-border-color: #FF8c04;
  
      --link-color: #518169;
      --link-color-visited: #c54e8a;
  
      --code-background: #f5f6f8;
      --code-accent-color: #e3e7eb;
      --code-accent-color-lite: #eff1f3;
  
      --accent-color: #e9ecef;
      --accent-color-lite: #f8f9fa;
  
      --control-icons: #b2bac1;
  
      --footer-background: #2f333e;
      --footer-font-color: #ffffff;
      --footer-link-color: #ffcc5c;
      --footer-link-color-visited: #ffcc5c;
    }
  }
  
  /* Dark mode theming */
  :root[color-mode="dark"] {
    --header-background: #fc8c04;
    --header-font-color: #ffffff;
  
    --body-background: #343a40;
    --body-font-color: #ced3d8;

    --button-background: #fc8c04;
    --button-border-color: #FF8c04;
  
    --link-color: #7ac29e;
    --link-color-visited: #c27a9e;
  
    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
  
    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;
  
    --control-icons: #b2bac1;
  
    --footer-background: #2f333e;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --header-background: #fc8c04;
      --header-font-color: #ffffff;
  
      --body-background: #343a40;
      --body-font-color: #ced3d8;
  
    --button-background: #fc8c04;
    --button-border-color: #FF8c04;
  
      --link-color: #7ac29e;
      --link-color-visited: #c27a9e;
  
      --code-background: #2f353a;
      --code-accent-color: #262b2f;
      --code-accent-color-lite: #2b3035;
  
      --accent-color: #2b3035;
      --accent-color-lite: #2f353a;
  
      --control-icons: #b2bac1;
  
      --footer-background: #2f333e;
      --footer-font-color: #ffffff;
      --footer-link-color: #ffcc5c;
      --footer-link-color-visited: #ffcc5c;
    }
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    font-family: "Roboto",sans-serif
  }
  .gdoc-error__title,
  code {
    font-family: "Roboto",monospace
  }
  .gdoc-header {
    font-family: "Roboto",sans-serif
  }
  .gdoc-mermaid {
    font-family: "Roboto",sans-serif
  }